/* Empty. Add your own CSS if you like */
.map {
	/*width: calc(100% - 30px);*/
	width: 100%;
	position: absolute;
	top: 44px;
	/*left: 15px;*/
	height: 50%;
}

.map-play-icon {
	width: 50%;
	height: 50px;
	position: absolute;
	top: 100px;
	left: 25%;
	z-index: 999999999;
}

.map-play-icon span {
	font-size: 20px;
	font-weight: bold;
	color: blue;
	padding-left: 10px;
}

.map-play-icon img {
	width: 200px;
	height: 200px;
	opacity: 0.6;
}

.db-timeline {
	width: 20000px;
	height: 40px;
	left: 100%;
	top: 61%;
	background-color: red;
	position: absolute;
}

.db-timeline-element {
	background-color: blue;
	width: 40px;
	height: 40px;
	top: 0px;
	position: relative;
	float: left;
	
}


.infoslide {
	height: 40%;
	width: 100%;
	position: absolute;
	top: 61%;

}

.infoview {
	position: absolute;
	top: 60%;
	width: 100%;
}

.infoview-content {
	width: 0;
	height: 100%;
}

.infoview-element {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding: 20px;
	float: left;
	opacity: 0;
}

.pane {
	/*background-color: rgb(228, 32, 18);*/
}

.inner-ele {
	background-color: #fff;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	box-shadow: 0 0 0.5em black;

}

.inner-ele-title {
	width: 100%;
	text-align: center;
	font-size: 30px;
	line-height: 30px;
	padding-top: 4px;
	padding-bottom: 4px;
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
	color: #3E3E3E;
	background-color: #ccc;
	box-shadow: 0 0 1px black;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.ol-mouse-position {
	display: none;
}